{% extends "index.html" %}

{% block content %}
<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">
    Hi there,
</p>
<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">
    {{ inviter }} invited you to {{ metapodName }} metapod.
</p>
<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">
    {% if emailAlreadyRegistered %}
        {% set buttonLabel = "Show invitation" %}
        {% set buttonUrl = invitationsLink %}
        Click the button to see invitation.
    {% else %}
        {% set buttonLabel = "Register" %}
        {% set buttonUrl = registrationLink %}
        Click the button to create new account.
    {% endif %}
</p>
<!-- button -->
<table class="btn-primary" cellpadding="0" cellspacing="0" border="0"
       style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: auto !important; Margin: 0 0 10px; padding: 0;">
    <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
        <td style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; line-height: 1.6em; border-radius: 25px; text-align: center; vertical-align: top; background: rgb(51, 105, 30); margin: 0; padding: 0;"
            align="center" bgcolor="#33691E" valign="top">
            <a href="{{ buttonUrl }}"
               style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 2; color: #ffffff; border-radius: 25px; display: inline-block; cursor: pointer; font-weight: bold; text-decoration: none; background: rgb(51, 105, 30); margin: 0; padding: 0; border-color: #348eda; border-style: solid; border-width: 10px 20px;">
                {{ buttonLabel }}
            </a>
        </td>
    </tr>
</table>
<!-- /button -->
{% endblock %}
